.logo-container {
    width: auto;
    display: inline-block;
    height: auto
}
.main-logo {
    width: auto;
    max-width: 100%;
}

.logo-link {
    display: inline-block;
}

.fields {
    display: flex;
    flex-direction: column;
}