.input-icon {
    cursor: pointer;
}

.input-icon--calendar::after {
    content: '';
    background-image: url('./img/icone-depart.svg');
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 20px;
}

.input-icon--close::after {
    content: '';
    background-image: url('./img/date-clear.svg');
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;   
}

.input-icon--select::after {
    content: '';
    background-image: url('./img/Shapearrowinput.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 40px;
    width: 14px;
    height: 14px;   
}