.input-icon {
    cursor: pointer;
}

.input-icon--calendar::after {
    content: '';
    background-image: url('./img/icone-depart.svg');
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 20px;
}

.input-icon--close::after {
    content: '';
    background-image: url('./img/date-clear.svg');
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;   
}

.input-icon--select::after {
    content: '';
    background-image: url('./img/Shapearrowinput.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 40px;
    width: 14px;
    height: 14px;   
}

.input-icon--arrows::after {
    content: '';
    background-image: url('./img/arrow.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
    left: 10px;
    width: 14px;
    height: 14px;   
}

.input-icon--arrows::before {
    content: '';
    background-image: url('./img/arrow.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 12px;
    left: 10px;
    width: 14px;
    height: 14px;   
    transform: scale(-1,1);
}

.input-checkbox {
    opacity: 0;
}

.label-checkbox {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    font-size: 12px;
}
.input-checkbox:checked + .label-checkbox::before {
        background-color: #f2fcff;
        border-color: #00ACE2;
}
.label-checkbox::before,
.label-checkbox::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.label-checkbox::before{
    height: 18px;
    width: 18px;
    border: 1px solid #A0B0B9;
    border-radius: 3px;
    left: 0;
    top: -3px;
}

.label-checkbox::after {
    height: 3px;
    width: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    color: #00ACE2;
    left: 6px;
    transition: all .2s ease;
    top: 3px;
}

.input-checkbox + .label-checkbox::after {
    content: none;
}

.input-checkbox:checked + .label-checkbox::after{
    content: "";
}
/* .input-checkbox:focus + .label-checkbox::before {
    outline: rgb(59, 153, 252) auto 5px;
} */

.inputs-container {
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.transpilantation-container {
    font-size: 12px;
    color: #5B5B5C;
    margin-top: 56px;
    border-bottom: 1px solid #DDDDDD;
}

.menu-header {
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 26px;
    padding-left: 40px;
    position: relative;
}


.menu-header::after {
    content: "";
    background-image: url('./img/clear.svg');
    background-repeat:  no-repeat;
    position: absolute;
    width: 16px;
    height: 16px;
    left: auto;
    right: 16px;
}

.menu-header::before {
    content: "";
    background-image: url('./img/shapearrowgrey.svg');
    background-repeat:  no-repeat;
    position: absolute;
    width: 16px;
    left: 16px;
    top: 2px;
    height: 16px;
}

.flyes-container {
    display: flex;
    justify-content: row;
    font-weight: bold;

}


.fly-item {
    margin-right: 10px;
    color: #323333;
}

.arrivals-list {
    padding-left: 16px;
    line-height: 18px;
}

.arrives-container {
    display: flex;
    flex-direction: column;
}

.arrivals-container__descr-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 16px;
}

.arrive-descr {
    display: block;
    width: auto;
}
input[type=range] {
    -webkit-appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
    width: 100%; /* Указание параметра ширины требуется для Firefox. */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #D6D9DA;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid #00ACDE;
  }


  .bar {
      background:#00ACDE;
      width: 100%;
      height: 2px;
      margin-top: 11px;
      margin-bottom: 11px;
  }

  .range-toggle  {
      border-radius: 50%;
      border: 1px solid #D6D9DA;
      background-color: #fff;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 3px;
  }

  .range-toggle-max {
      right: 0;
  }

  .scale {
      position: relative;
  }