@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.logo-container {
    width: auto;
    display: inline-block;
    height: auto
}
.main-logo {
    width: auto;
    max-width: 100%;
}

.logo-link {
    display: inline-block;
}

.fields {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: rgb(33, 150, 243);
}

.header-container {
    width: 1340px;
    max-width: 1340px;
    margin: 0 auto;
}
#transplantation {
  width: 1308px;
  max-width: 1308px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.main-content {}

.input-container {
    margin-right: 2px;
    position: relative;
}

.input--calendar_from{
  position: relative;
}

.buttons-container {
  margin-left: 30px;
}

.header-container {
  padding-bottom: 32px;
}

.transpilation-block {
    padding-top: 16px;
}